
.x-axis path,
.x-axis line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

<<<<<<< HEAD
.x-axis text {
    font-family: sans-serif;
    font-size: 15px;
    fill: grey;
=======
.area-energy {
  fill: #9c9;
  stroke: none;
  opacity: 0.9;
  clip-path: url(#clip);
>>>>>>> 40d575df860689c11289ab3dc51050eb2f559526
}

.y-axis path,
.y-axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.y-axis text {
    font-family: sans-serif;
    font-size: 15px;
    fill: grey;
}

.axis_power path,
.axis_power line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.axis_power text {
    font-family: sans-serif;
    font-size: 15px;
    fill: grey;
}

.grid path {
    stroke-width: 1px;
    stroke-dasharray:3, 3;
    stroke: lightgrey;
    stroke-opacity: 0.7;
}

#my_legend text {
    font-size: 12px;
    fill: grey;
}

<<<<<<< HEAD
.care_self {
    fill: #cec;
=======
.home {
  /*fill: #F8F8F8;*/
  fill: #9c9;
  fill-opacity: .5;
>>>>>>> 40d575df860689c11289ab3dc51050eb2f559526
}
.care_other {
    fill: #ace;
}
.care_house {
    fill: #eda;
}
.recreation {
    fill: #ece;
}
.travel {
    fill: #eea;
}
.food {
    fill: #cea;
}
.work {
    fill: #cde;
}
.other_category {
    fill: #eec;
}



.PERSONAL {
    fill: #cec;
}
.CARE {
    fill: #ace;
}
.HOUSEHOLD {
    fill: #eda;
}
.ENTERTAINMENT {
/*    fill: #ece;*/
        fill: #F00;
}
.TRAVEL {
    fill: #eea;
}
.FOOD {
    fill: #cea;
}
.WORK {
    fill: #cde;
}
.OTHER {
    fill: #eec;
}

.personal {
    fill: #cec;
}
.joint_activity {
    fill: #ace;
}
.household {
    fill: #eda;
}
.entertainment {
    fill: #ece;
}
.travel {
    fill: #eea;
}
.food {
    fill: #cea;
}
.work {
    fill: #cde;
}
.other {
    fill: #eec;
}


div.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 0 10px;
  background: rgba(105, 185, 105, .8);
  border: 3px solid #6c6;
  border-radius: 15px;
  pointer-events: none;
  font-size: 130%;
  color: #fff;
  opacity: 0;
<<<<<<< HEAD
}
=======
}

/* FOR LINEGRAPH */
.line {
  fill: none;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

.zeroline {
    fill: none;
    stroke: blue;
    stroke-width: 0.5px;
}


.zerolinetext {
    fill: #666;
}
.userLabel {
    font-weight: 900;
    font-size: 1.5em;
    opacity: 0.7;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: none;
}

g.brush>.resize {
    display: none;
}

/* use "FILL" and not "background-color" */
.care_self {
    fill: #cec;
}
.care_other {
    fill: #ace;
}
.care_house {
    fill: #eda;
}
.recreation {
    fill: #ece;
}
.travel {
    fill: #eea;
}
.food {
    fill: #cea;
}
.work {
    fill: #cde;
}
.other_category {
    fill: #eec;
}
>>>>>>> 40d575df860689c11289ab3dc51050eb2f559526
